<template>
    <form @submit.prevent="submit">
        <span class="invalid-feedback" role="alert" v-if="errors && errors.message">
            <strong>{{ errors.message }}</strong>
        </span>
        <div class="form-group row">
            <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

            <div class="col-md-6">
                <input id="email" type="email" class="form-control" name="email" v-model="fields.email" @input="prevalidateEmail" required />
                <div v-if="errors && errors.email" class="text-danger">{{ errors.email[0] }}</div>
            </div>
        </div>

        <div class="form-group row">
            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

            <div class="col-md-6">
                <input id="password" type="password" class="form-control" name="password" v-model="fields.password" required minlength="8" />
                <div v-if="errors && errors.password" class="text-danger">{{ errors.password[0] }}</div>
            </div>
        </div>

        <div class="form-group row">
            <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>

            <div class="col-md-6">
                <input id="password-confirm" type="password" class="form-control" name="password_confirmation" v-model="fields.password_confirmation" required minlength="8" />
            </div>
        </div>

        <div class="form-group row mb-0">
            <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>

</template>
<script>

import axios from "axios";

export default {
    props: {
        handler: String,
        prevalidationHandler: String
    },
    data() {
        return {
            fields: {},
            errors: {},
            isPrevalidationProcessing: false
        }
    },
    methods: {
        submit() {
            this.errors = {};
            axios.post(this.handler, this.fields).then(response => {
                window.location = response.data.redirect;
            }).catch(error => {
                if (error.response.status === 422) {
                    this.errors = error.response.data.errors || {};
                    return;
                }
                if (error.response.data.message) {
                    this.errors = {
                        message: error.response.data.message
                    };
                    return;
                }
            });
        },
        /**
         * Validates email on input
         * Note: Bad practice due information exposure
         */
        prevalidateEmail() {
            if (!this.prevalidationHandler) {
                this.errors.email = null;
                return;
            }

            const email = this.fields.email;
            if (!email
                || email.length < 3
                || !this.getEmailRegex().test(email)
            ) {
                this.errors.email = null;
                return;
            }

            if (this.isPrevalidationProcessing) {
                this.errors.email = null;
                return;
            }

            this.isPrevalidationProcessing = true;
            axios.post(this.prevalidationHandler, this.fields).then(() => {
                this.errors.email = null;
            }).catch(error => {
                if (error.response.status === 422) {
                    this.errors = error.response.data.errors || {};
                    return;
                }
                if (error.response.data.message) {
                    this.errors = {
                        message: error.response.data.message
                    };
                    return;
                }
            }).finally(() => {
                this.isPrevalidationProcessing = false;
            });
        },
        getEmailRegex() {
            return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        },
    },
}
</script>
